.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.trader {
  color: #f57f17;
}

.navbar-brand {
  font-size: 2.5em;
}

#header {
  color: white;
  margin: 10px;
}

#modal-title {
  color: white;
}

#modal-title:hover {
  font-size: 1.1em;
}

.info-tab {
  background-color: #4B515D;
  color: white;
  text-align: left;
  padding-left: 10px;
  padding: 10px;
}

#info-title {
  background: #ef6c00;
  color: white;
  padding: 5px;
  margin-top: 10%;
}

#navbar-login {
  display: inline-block;
}

#or {
  color: silver;
  padding: 5px;
}

#login-modal {
  color: #3E4551;
}

#searchbar {
  margin: 20px;
}

#searchbar-container {
  color: white;
  text-align: left;
  /* background: #4B515D; */
  padding: 10px;
  margin: 20px;
  border: 1px solid silver;
}

#button-stock-symbol {
  background-color: #f57f17;
}

#footer {
  margin-top: 100px;
  color: silver;
}

#name-link {
  color: silver;
}

#name-link:hover {
  color: white;
}

#find-symbol {
  /* text-align: left;
  font-size: .8em;
  margin: -2px;
  border-color: white;
  background:silver; */
  color: white;
  text-align: left;
  padding: 20px;
}

#company-info {
  margin-bottom: -2px;
}

#table {
  /* background-color: grey; */
}

#table-header {
  display: inline-block;
  /* background: #d80445; */
  background: #4B515D;
  padding: 5px;
  font-size: 1.5em;
  width: 110%;
  margin-left: -5px;
  /* border-radius: 10% */
  padding: 10px;
}

#user-table-header {
  color:white;
  display: inline-block;
  background: #4B515D;
  background: #4B515D;
  padding: 10px;
  font-size: 1.5em;
  width: 110%;
  margin-left: -5px;
  padding: 10px;
}

#table-data {
  display: inline-block;
  padding-left: 5px;
  margin-bottom: -1px;
  font-size: .8em;
  border: 1px solid #4B515D;
  width: 100%;
}

#user-table-data {
  text-align: left;
  color:white;
  display: inline-block;
  padding-left: 5px;
  margin-bottom: -1px;
  font-size: 1.2em;
  border: 1px solid #4B515D;
  width: 100%;
  margin: 5px;
  padding-right: 5px;
}

#user-table {
  margin-bottom: 15px;
  margin-left: 42%;
  align-items: center;
  width: 100%;
}

#company-symbol-search {
  margin-top: -25px;
  margin-bottom: 35px;
}

#dont-know {
  margin-top: 40px;
  font-size: .8em;
}

#table-ticker:hover {
  color: silver;
}

#buy-sell {
  display: inline-block;
}

#stock-info-container {
  /* background: #d80445; */
  margin: 5px;
}

#stock-info-container p {
  padding-left: 10px;
}

#stock-info-container button {
  text-align: center
}

.user-container {
  border: silver solid 1px;
  margin: 20px;
}

.user-container h1 {
  color: white;
  margin: 10px;
}

.header {
  border: solid silver 1px;
  margin: 20px;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
